
<footer>
  <div class="footer-cnt">
    <div class="first-line">

      <div class="first-row">
        <a [routerLink]="['./acerca-de']" (click)="scrollTop()"><img class="img-responsive" src="http://assets.voxel3d.net/footer/Voxel-Logo-Footer.png" alt=""></a>
        <a href="http://www.rhino3d.com/training/Colombia/"><img class="img-responsive" src="http://assets.voxel3d.net/footer/ARTC-Footer-Logo.png" alt=""></a>
        <a href="https://www.chaosgroup.com/"><img class="img-responsive" src="http://assets.voxel3d.net/footer/ChaosGroup_footer_blanco.png" alt=""></a>
      </div>

      <hr class="mobile">

      <div class="second-row">
        <div class="ubication-title">
          <h1>NUESTRA UBICACIÓN</h1>
        </div>
        <div class="center-or">
            <div class="left-or">
                <div class="ubication-info">
                  <a class="loc-title">Bogotá D.C.</a>
                  <a>Calle 19 #4-71 Local 501</a>
                  <a>E-mail: info@voxel3d.net</a>
                  <a>PBX: 571+702 6792</a>
                </div>
              </div>
        </div>       
        <!-- <div class="right-or">
          <div class="ubication-info">
            <a class="loc-title">Bucaramanga</a>
            <a>Calle 19 #4-71 Local 406</a>
            <a>E-mail: info@voxel3d.net</a>
            <a>PBX: 571+702 6792</a>
          </div>
        </div> -->

      </div>

      <hr class="mobile">

      <div class="third-row">
        <div class="map-title">
          <h1>MAPA DE VISITAS</h1>
        </div>
        <div class="map-cont">
          <my-script [src]="'//cdn.clustrmaps.com/globe.js?d=-dKdJ-En7hP3HxI5KLPOEeprYUe5XtegTitl8l4Oyos'"
            [id]="'clstr_globe'"></my-script>
        </div>

      </div>
    </div>   
  </div>
  <hr>
  <div class="second-line">
    <div class="icons-cont">
      <a href="https://www.facebook.com/Voxel3d.Rhinoceros/?fref=ts"><img src="../../assets/footer/facebook.png" alt=""></a>
      <a href="https://www.youtube.com/channel/UCoQh3vT83W58rfW17GmK1Ug"><img src="../../assets/footer/youtube.png" alt=""></a>
      <a href="https://www.instagram.com/voxelredes/"><img src="../../assets/footer/instagram.png" alt=""></a>
    </div>
    <p> © Copyright 2016-2018 voxel3d </p>
  </div>
</footer>
