<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">EQUIPOS</h1> 

    <div class="info-cnt">
        <h3>Tecnología FFF:</h3>
        <p>Voxel desarrolla desde el año 2011 soluciones de impresión 3D con tecnología FFF (Fabricación por Fusión de Filamento). Nuestras impresoras han sido seleccionadas en el Sector Industrial y Académico, y son referente dentro de los equipos que se diseñan y fabrican en Colombia.</p>
      </div>
      <div class="info-cnt">
        <h3>Tecnología SLA:</h3>
        <p>En el 2015, basados en nuestra experiencia en el área de Joyería y aplicaciones de prototipado para aplicaciones médicas, hemos lanzado la primera impresora de tecnología SLA, diseñada y fabricada en Colombia.</p>
      </div>
  
      <!-- <div class="img-section">
        <div class="img-cnt hor-align">
          <img class="img-responsive" src="http://assets.voxel3d.net/desarrollo/Servicios2.jpg" alt="">      
        </div>
      </div> -->
<!-- 
  <div class="video-section">
    <div class="video-cnt vert-align">
        <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/9fvVMl_uLZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>     
    </div>
    <div class="video-cnt vert-align">
        <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/HV-v3-CtWNA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
    </div>
  </div> -->
</div>