<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">INGENIERÍA MECÁNICA</h1> 
  
    <div class="info-cnt">
      <p>Al no existir restricciones en la importación y exportación de archivos se puede combinar la información desde y hacia Rhino con SolidWorks, 
        Solid Edge, Inventor, NX o cualquier otro sistema PLM. En Rhino se modelan sólidos clásicos o complejos, con mayor facilidad y menor costo, 
        pudiéndolos integrar como partes para ensambles complejos.</p>
      <p>Al extenderse el uso mundial de Rhino entre diferentes industrias la mayor parte de los software de diseño mecánico han abierto su tecnología para ser 
        compatible con el formato 3DM de Rhino.</p>
    
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/mecanica/mecanica1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/mecanica/mecanica2.jpg" alt="">        
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>   
  
    </div>
  </div>