<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">DIGITALIZACIÓN 3D</h1> 

  <div class="info-cnt">
   <p>Para aplicaciones industriales, arquitectónicas, forenses y de restauración de patrimonio. Digitalización por Software de Fotogrametría, Brazo MicroScribe y Escáner ARTEC EVA y ARTEC SPIDER.</p>
  </div>
  <div class="img-section">
    <div class="img-cnt hor-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/digitalizacion-3d/Servicios1.jpg" alt="">      
    </div>
  </div>

  <div class="video-section">
    <div class="video-cnt vert-align">
        <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/5c_-xKRsdiM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
    </div>
    <div class="info-video vert-align">
      <h3><strong> Digitalizador E-MicroScribe.</strong></h3>
      <p>Una modalidad de digitalización táctil, donde por medio de un brazo articulado equipado con rodamientos de precisión para la manipulación suave y sin esfuerzo, con el cual se palpan puntos físicamente en un objeto a digitalizar, es decir que el brazo digitalizador funciona como un “mouse en 3 dimensiones”.</p>
      <p>Sus principales objetivos dentro del campo de la digitalización son:</p>
      <ul>
        <li>Ingeniería inversa.</li>
        <li>Inspección partes.</li>
        <li>Modelado 3D.</li>
      </ul>
    </div>
  </div>
  <div class="video-section">
    <div class="video-cnt vert-align">
        <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/gq1dTWydOqY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
    </div>
    <div class="info-video vert-align">
      <h3><strong> Artec Spider:</strong></h3>
      <p>Escáner láser 3D de alta resolución basado en tecnología de luz azul. Es perfecto para capturar objetos pequeños o detalles intrincados de objetos industriales grandes con alta resolución, geometrías complejas, bordes afilados, hendiduras delgadas y colores brillantes.</p>
      <p>Space Spider ofrece prácticamente posibilidades ilimitadas en áreas tales como:</p>
      <ul>
        <li> Ingeniería inversa. </li>
        <li> Control de calidad. </li>
        <li> Diseño y manufactura </li>    
      </ul>
    </div>
  </div>
  <div class="video-section">
    <div class="video-cnt vert-align">
      <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/Sv2iq811nBg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
    </div>
    <div class="info-video vert-align">
      <h3><strong>Digitalización por fotogrametría: Rhinophoto</strong></h3>
      <p>Pluggin de fotogrametría para Rhinoceros que genera un digitalización 3D automática desde un conjunto de fotografías. Una alternativa rentable en términos de digitalización para superfcies.</p>
      <p>Entre sus campos de aplicación se encuentran:</p>
      <ul>
        <li> <label><strong>Diseño de producto: </strong></label> Digitalización de superficies, ingeniería inversa. </li>
        <li> <label><strong>Diseño de calzado: </strong></label> Digitalización y diseño de hormas. </li>
        <li> <label><strong>Industria naval:  </strong></label> Digitalización de turbinas, botes y cabinas. </li>
        <li> <label><strong>Levantamiento de escenas:</strong></label>  Accidentes de tránsito y crimen. </li>        
      </ul>
    </div>
  </div>
</div>