
<div class="top-img">
  </div>      
  
  <div class="body-pg">
     <h1 class="conditions-h">POLÍTICA DE PRIVACIDAD DE DATOS DE CLIENTES Y CONDICIONES DE LOS SERVICIOS DE VOXEL S.A.S</h1>

    <div class="text-cnt">
      <p>
          A través de la aceptación de este documento, usted acepta expresamente la Política de Privacidad y las Condiciones de los Servicios de VOXEL S.A.S. 
          como Usuario o suscriptor de cualquiera de los medios o Servicios y/o productos, ya sean gratuitos o de pago, que consisten en el acceso a diferentes 
          informaciones, contenidos, programas, apps, tiendas, sitios web de ‘e-commerce’, vídeo bajo demanda o similares (en adelante, “Servicios VOXEL S.A.S.”) 
          que VOXEL S.A.S. (en adelante, VOXEL S.A.S.) pone a disposición de los Usuarios de Internet.        
      </p>

      <h2>Definiciones</h2>

      <p>
          Para el correcto entendimiento de esta Política de Privacidad y las Condiciones de los Servicios VOXEL S.A.S., se realizan las siguientes definiciones:
      </p>

      <p>          
          VOXEL S.A.S. (www.voxel3d.net) está constituido por “VOXEL S.A.S.” con domicilio en la Calle 19 #4-71 Local 501 con sede principal en Bogotá Colombia y 
          sus compañías filiales o subsidiarias registradas en Colombia o en el mundo.
      </p>

      <p>
          El Usuario y/o cliente será aquella persona física o jurídica que acceda y/o use a través de las áreas registradas o de navegación libre, a cualquiera
          de los Servicios VOXEL S.A.S. por cualquier medio.
      </p>

      <p>
           § Los Servicios VOXEL S.A.S., abarcan servicios, productos y acciones promocionales, ya sean gratuitos o de pago, que consisten en el acceso a 
           diferentes informaciones, contenidos, comunicaciones comerciales, editoriales y corporativas, programas, tiendas, sitios web de ‘e-commerce’, vídeo 
           bajo demanda o similares.
      </p>

      <p>
          La Política de Privacidad y Condiciones de los Servicios VOXEL S.A.S. son de aplicación a:
      </p>

      <ul>
        <li>La navegación como Usuario que se realice sobre cualquier página web de VOXEL S.A.S.</li>
        <li>El acceso como Usuario a cualquiera de los contenidos a través de cualquier otro medio o Servicio de VOXEL S.A.S.</li>
        <li>La navegación que se pueda realizar desde cualquier dispositivo desde el que se permita el acceso a los contenidos o a los Servicios VOXEL S.A.S., 
          como ordenadores, televisión digital, ‘Smart Tv’s’, PDA, Tabletas, ‘iPad’, ‘iPhone’, teléfonos móviles, ‘Smartphones’, suscripciones vía RSS o cualquier 
          otro medio de acceso a los contenidos puestos a disposición en internet.</li>
        <li>La navegación y disfrute de los Servicios VOXEL S.A.S. que se realice desde cualquier parte del mundo, ya se trate de Servicios ubicados en el país de 
          acceso o ubicados en otro país.</li>
      </ul>
      <h2>Política de privacidad</h2>
      <h3>Cumplimiento de la normativa vigente</h3>
      <p>
          VOXEL S.A.S. garantiza en todo momento el íntegro y pleno cumplimiento de las obligaciones dispuestas por la Ley 1581 DE 2012. VOXEL S.A.S. mantiene una
          Política de Privacidad sobre los datos personales, en la que se describe, principalmente, el uso que VOXEL S.A.S. hace de los datos de carácter personal, 
          garantizando su confidencialidad. Se informa al Usuario detalladamente de las circunstancias esenciales del uso de los datos, y de las medidas de seguridad 
          que se aplican para evitar que terceros no autorizados puedan acceder a ellos.        
      </p>
      <p>
          VOXEL S.A.S. adoptará las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos de carácter personal y evitar
          así su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología. No obstante, el Usuario debe ser consciente 
          de que las medidas de seguridad en Internet no son inexpugnables.
      </p>
      <h3>Responsable de la Base de Datos</h3>
      <p>
          Los datos personales recabados por VOXEL S.A.S., serán incorporados en una o varias bases de datos responsabilidad de VOXEL S.A.S.
      </p>
      <p>
          Al efectuar el registro en cualquiera de los Servicios VOXEL S.A.S. y aceptar esta cláusula, el Usuario está autorizando y otorgando su consentimiento 
          expreso para que sus datos sean incorporados a dicha base; no obstante, su consentimiento tiene carácter revocable.   

      </p>
      <p>
          VOXEL S.A.S. informa a los Usuarios del carácter voluntario u obligatorio de los datos de carácter personal que le sean solicitados en el formulario de 
          registro para usar los Servicios VOXEL S.A.S.. El aviso se realiza a través de señales visuales tales como ventanas flotantes, colocación de asteriscos o 
          símbolos junto al dato solicitado, o medios análogos a los anteriormente citados. La negativa a suministrar los datos personales solicitados, la entrega 
          de datos inexactos o de datos incompletos, podría ocasionar la prestación inadecuada, ineficiente, defectuosa o la no prestación de los Servicios y/o 
          contenidos ofrecidos a los Usuarios.
      </p>
      <h3>Finalidad del tratamiento de los datos personales de los Usuarios</h3>
      <ul>
        <li>Facilitar un Servicio personalizado para el Usuario, adecuando dichos Servicios a su perfil personal, profesional y de consumo, así como a sus
           preferencias y gustos.</li>
        <li>Prestar, gestionar, administrar, ampliar y mejorar los Servicios y/o contenidos ofrecidos en las páginas web del grupo, mediante el análisis de la 
          utilización de los Servicios por parte de los Usuarios.</li>
        <li>Ofrecer Servicios de pago siempre con el consentimiento expreso del Usuario y conforme a las CONDICIONES DE LOS SERVICIOS VOXEL S.A.S. contenidas en 
          este documento.</li>
        <li>Gestionar los productos o Servicios que el Usuario pueda solicitar de forma gratuita o de pago.</li>
        <li>Enviar información editorial de los Servicios VOXEL S.A.S. por cualquier medio de contacto facilitado.</li>
        <li>Remitir comunicados no comerciales, tales como felicitaciones en fechas señaladas o envío de información institucional sobre VOXEL S.A.S..</li>
        <li>Realizar acciones publicitarias o de prospección comercial y mantener informado al Usuario sobre productos o Servicios propios o de terceros por cualquier
           medio de contacto facilitado, de los sectores de la música, televisión, cine, radio, comunicación, formación y educación, hotelero, financiero, bancario, 
           distribución, deportivo, viajes, seguros, ONG, editorial, automoción, empleo, inmobiliario, meteorología, venta a distancia, alimentación y productos gourmet,
            energía, textil, moda, salud, ocio, administración, electrónico, Internet, redes sociales, apuestas, concursos, sorteos, juegos, videojuegos, 
            y de telecomunicaciones.</li>
        <li>Gestionar su participación en concursos, sorteos, juegos y otras acciones promocionales conforme a las bases legales que las regulen.</li>
        <li>Diseñar nuevos servicios que puedan resultar de su interés.</li>
        <li>Gestionar las incidencias y el mantenimiento de los Servicios VOXEL S.A.S..</li>
        <li>Aquellos otros fines necesarios para el desarrollo, cumplimiento y control de la relación contractual que el Usuario mantenga con VOXEL S.A.S..</li>        
      </ul>
      <h3>Tipos de datos recogidos a través de los Servicios VOXEL S.A.S.</h3>
      <p>
          Información facilitada por el Usuario a través del procedimiento de registro en cualquiera de los Servicios VOXEL S.A.S.. El Usuario que desee registrarse 
          en los Servicios VOXEL S.A.S., deberá facilitar determinados datos, tales como: nombre, apellidos, fecha de nacimiento, género, dirección, dirección de 
          correo electrónico, número de teléfono y los datos de medios de pago, así como información más específica sobre el Usuario que revelará a través de 
          respuestas que otorgará de forma voluntaria durante el procedimiento de registro. Toda la información facilitada será agregada y consolidada para cada 
          Usuario, y utilizada con los fines indicados anteriormente.
      </p>
      <p>
          Información facilitada por el Usuario a través del procedimiento de registro en alguna web de VOXEL S.A.S., a través de alguna red social. En el caso
           de que el Usuario acceda a los Servicios VOXEL S.A.S. utilizando alguna aplicación que conecte una red social con los Servicios VOXEL S.A.S., el Usuario 
           estará autorizando que la red social en cuestión comparta algunos datos con VOXEL S.A.S. como son: nombre del Usuario, dirección de correo electrónico, 
           fecha de nacimiento, género y localización, intereses, así como la foto de perfil que utilice en la red social. Para obtener más información acerca del 
           método por el cual se comparten datos con las redes sociales, deberá consultar las políticas de privacidad de la red social en cuestión.
      </p>

      <p>
          Información recogida a través del uso de los Servicios de VOXEL S.A.S.: A efectos estadísticos y publicitarios, de control del uso de nuestras páginas, 
          y de recepción y apertura de nuestros correos electrónicos, y de mejorar el conocimiento sobre los intereses del Usuario, se recogerán datos de uso y 
          navegación relativos acerca de qué Servicio utiliza el Usuario, cómo lo utiliza, cuándo, qué tipo de Usuario es, o si accede a un email enviado por 
          VOXEL S.A.S. o a un anuncio publicitario mostrado en cualquiera de los Servicios VOXEL S.A.S.. Estos datos incluirán información sobre el dispositivo de
           acceso, el modelo de equipo, la versión del sistema operativo, los identificadores únicos y los datos sobre la red móvil, incluyendo, en su caso, el
            número de teléfono. Es posible que VOXEL S.A.S. obtenga y almacene determinada información en los registros del servidor de forma automática. 
            Estos datos podrán incluir: información detallada sobre cómo el Usuario utiliza los Servicios VOXEL S.A.S.. Dicha información consiste en la dirección 
            IP, información relativa al dispositivo del Usuario así como fallos, actividad del sistema, ajustes del hardware, tipo de navegador, idioma del navegador
            , fecha y hora de solicitud y URL de referencia, Cookies – tal y como se explica en la POLÍTICA DE COOKIES, que permiten identificar el navegador del 
            Usuario.
      </p>
      <p>
          Información sobre los territorios desde el que se origina la conexión a los Servicios VOXEL S.A.S., para verificar la disponibilidad de los derechos
           de visualización de determinados contenidos audiovisuales.
      </p>
      <p>
          Los Usuarios responderán, en cualquier caso, de la veracidad de los datos facilitados y se hacen responsables de comunicar a VOXEL S.A.S. cualquier
          modificación en los mismos a través de este correo: serviciotecnico@nsdis.com, quedando VOXEL S.A.S. exenta de cualquier tipo de responsabilidad a 
          este respecto.
      </p>
      <h3>Datos compartidos con terceros </h3>
      <p>
          VOXEL S.A.S., siempre que cuente con el consentimiento explícito del Usuario, compartirá sus datos con las empresas del Grupo VOXEL S.A.S., con la 
          finalidad de que cada una de ellas pueda ajustar la información comercial, editorial o institucional que se le remita a los Usuarios.
      </p>
      <p>
          Para la medición del tráfico web, VOXEL S.A.S. utiliza proveedores externos (Google, Omniture y Comscore entre otros) que utilizan Cookies 
          para analizar lo que sucede en nuestras páginas web. El Usuario podrá consultar la POLÍTICA DE COOKIES del Grupo VOXEL S.A.S. en todo momento. 
          Más información sobre la política de privacidad de estas soluciones en:
      </p>
      <ul>
        <li>Google: <a href="http://www.google.es/intl/es_ALL/analytics/learn/privacy.html" target="_blank">Visitar la URL</a></li>
        <li>Omniture: <a href="https://www.adobe.com/es/privacy.html" target="_blank">Visitar la URL</a> </li>
        <li>Comscore: <a href="http://www.comscore.com/esl/About_comScore/Privacy_Policy" target="_blank"> Visitar la URL</a> </li>
        
      </ul>

      <p>
          VOXEL S.A.S. también puede albergar publicidad propia o de redes publicitarias. Esta publicidad se muestra mediante servidores publicitarios que utilizan 
          Cookies, utilizadas conforme a la POLÍTICA DE COOKIES para mostrar contenidos publicitarios afines a los Usuarios para ofrecerle anuncios sobre productos 
          y Servicios que le resulten de interés.
      </p>

      <p>
          El registro en cualquiera de los Servicios VOXEL S.A.S. implica la aceptación expresa y sin reservas de la POLÍTICA DE COOKIES .
      </p>

      <p>
          En caso de duda o controversia relativas a nuestra política de privacidad y de protección de datos personales el Usuario puede 
          ponerse en contacto con nosotros dirigiéndose a la siguiente dirección de correo electrónico: juridico@nsdis.com.
      </p>

      <h3>Menores de edad </h3>
      <p>
          Los menores de 14 años no deberán registrarse en los Servicios VOXEL S.A.S. sin consentimiento de sus padres o tutores.
      </p>
      <p>
          En caso de que VOXEL S.A.S. detecte usuarios que pudieran ser menores de 14 años, se reserva el derecho a solicitarle una copia de su documento de 
          identidad o documento equivalente, o, en su caso, la autorización de sus padres o tutores.
      </p>
      <h3>Derechos de los usuarios</h3>
      <p>
          El Usuario podrá modificar su perfil y sus preferencias de envíos comerciales, revocar su consentimiento, y ejercer sus derechos de acceso, rectificación, 
          cancelación u oposición dirigiéndose a VOXEL S.A.S., a través de correo electrónico a la dirección juridico@nsdis.com indicando la dirección de email que 
          utilizó en el registro, acreditando su identidad con una copia escaneada de su documento de identidad, y especificando el derecho que desea ejercer.        
      </p>
      <p>
          El derecho de cancelación solicitado ante VOXEL S.A.S. no tendrá efecto sobre los productos o servicios que tuviera contratado con alguna de las 
          empresas del Grupo VOXEL S.A.S.. Para cancelar los productos o servicios contratados con alguna de las empresas del Grupo VOXEL S.A.S., deberá seguir 
          el procedimiento indicado en las correspondientes condiciones de contratación.
      </p>
      <p>
          El Usuario también podrá ejercer sus derechos ante una o varias de las empresas del Grupo VOXEL S.A.S. a través de correo ordinario a la dirección 
          correspondiente, carrera 12 a # 77ª-05 Bogotá, Colombia. Los derechos ejercidos de esta manera únicamente tendrán efecto sobre la empresa o empresas 
          ante las que se hayan ejercido.
      </p>
      <h2>Condiciones de los servicios Voxel S.A.S.</h2>
      <p>
          El uso de los Servicios VOXEL S.A.S. implica a aceptación de la Política de Privacidad y de estas Condiciones así como de las condiciones particulares 
          que pudieran aplicar y que estarán siempre disponibles junto con los Servicios elegidos y formarán parte del Acuerdo con VOXEL S.A.S. al usar los Servicios
           VOXEL S.A.S..
      </p>
      <p>
          Usuario: en algunos casos Al Usuario se le proporciona una contraseña al proceder al registro de la que es responsable, comprometiéndose a hacer un uso 
          diligente y confidencial de la misma.
      </p>
      <p>
          El Usuario no creará otras cuentas para beneficiarse y/o abusar de las ventajas y Servicios que se ofrecen a los Usuarios de las páginas web de 
          VOXEL S.A.S..
      </p>
      <p>
          El Usuario se compromete a notificar al titular de la página web correspondiente del Grupo VOXEL S.A.S. de la utilización de su cuenta por otra 
          persona no autorizada por el propio Usuario.
      </p>
      <p>
          En el caso de que se desee cancelar el registro como Usuario, de cualquiera de las páginas web del grupo puede cesar su cuenta enviando un email a 
          la siguiente dirección de correo: borrar.datos@voxel3d.net.
      </p>
      <p>
          En el caso de que VOXEL S.A.S. considere que no se han respetado las estipulaciones y condiciones que se compromete a cumplir por medio de la aceptación 
          de esta cláusula, se procederá a la cancelación de la cuenta de Usuario. Esta cancelación se efectuará de forma discrecional por parte de VOXEL S.A.S. y 
          sin previo aviso. VOXEL S.A.S. en el caso de la cancelación de la cuenta del Usuario le comunicará dicha finalización mediante un correo electrónico 
          enviado a la cuenta proporcionada por el Usuario al registrarse, haciéndole saber que se ha procedido a la baja como Usuario debido al incumplimiento 
          de las condiciones generales recogidas en este expositivo.
      </p>
      <h3>Contenidos </h3>
      <p>
          Los contenidos son multitud de informaciones, Servicios, programas o datos puestos a disposición en las páginas web a los que el Usuario tiene acceso, 
          pertenecientes a VOXEL S.A.S. o a sus licenciantes, a los que el Usuario pueda tener acceso.
      </p>
      <p>
          VOXEL S.A.S. por sí o como cesionaria o licenciataria, es titular de todos los derechos de propiedad intelectual e industrial de los contenidos de sus 
          páginas web protegidas con licencias de copyright a nivel mundial mediante Tratados internacionales de Copyright, así como de los elementos contenidos 
          en la misma (que incluyen, entre otros, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y 
          diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc…), que son titularidad de VOXEL S.A.S. 
          o bien de sus licenciantes o partners.
      </p>
      <h3>Uso de los portales</h3>
      <p>
          El Usuario se compromete a hacer un uso adecuado de los contenidos y Servicios que VOXEL S.A.S. ofrece a través de sus páginas web y con carácter 
          enunciativo pero no limitativo, a no emplearlos para incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; difundir 
          contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; 
          provocar daños en los sistemas físicos y lógicos de VOXEL S.A.S., de sus proveedores o de terceras personas, introducir o difundir en la red virus 
          informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados; intentar acceder y, 
          en su caso, utilizar las cuentas de correo electrónico de otros Usuarios y modificar o manipular sus mensajes.
      </p>
      <p>
          Los Usuarios de cualquiera de las páginas web de VOXEL S.A.S. están autorizados a generar contenido en algunas áreas de nuestras páginas web, 
          dicho contenido debe respetar los estándares de comportamiento y/ condiciones particulares publicados en nuestras páginas web. Estos estándares de 
          comportamiento son expresamente aceptados al aceptar esta cláusula.
      </p>
      <p>
          Los Usuarios son responsables del contenido que generen en nuestras webs, asegurando que poseen la propiedad intelectual de los mismos o la autorización 
          de las personas dueñas de esas licencias. Los contenidos generados por los Usuarios son realizados bajo su responsabilidad, sin la posibilidad de que
           reclamaciones futuras a VOXEL S.A.S. por estos contenidos. Por lo tanto, en la medida de lo posible, se procurará garantizar la calidad de dichos 
           contenidos y el buen uso de los Servicios limitando el anonimato de los Usuarios en los contenidos que generen.
      </p>
      <p>
          Los Usuarios son los titulares de los derechos de propiedad intelectual de los contenidos generados por ellos en las páginas web de VOXEL S.A.S., 
          sin embargo si dicho contenido es publicado en cualquiera de las webs de VOXEL S.A.S., se concede a VOXEL S.A.S. una licencia mundial para usar, alojar, 
          almacenar, reproducir, modificar, crear obras derivadas (por ejemplo las que resulten de la traducción, la adaptación u otros cambios que se realicen 
          para adaptar dichos contenidos o que se adapten mejor a las configuraciones de las web de VOXEL S.A.S.). Esta licencia no caduca ni prescribe por la 
          cancelación de la cuenta como Usuario de VOXEL S.A.S..
      </p>
      <p>
          El Usuario podrá retirar, modificar, alterar el contenido generado por él, en las webs de VOXEL S.A.S..
      </p>
      <p>
          VOXEL S.A.S. se reserva el derecho de publicar esos contenidos, así como modificarlos o editarlos.
      </p>
      <p>
          VOXEL S.A.S. se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren los estándares de comportamiento publicados en 
          nuestras web y que en todo caso violen el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten 
          contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.
      </p>
      <p>
          El Usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de VOXEL S.A.S. a nivel mundial. El Usuario podrá 
          visualizar los elementos y contenidos de las páginas web e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier 
          otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado, quedando, por tanto, terminantemente prohibida la 
          reproducción, transformación, distribución, comunicación pública, puesta a disposición o cualquier otra forma de explotación con fines comerciales, 
          así como su modificación, alteración o ingeniería inversa.
      </p>
      <p>
          En el caso de que el Usuario desee utilizar el contenido de las páginas web para otros fines distintos a los permitidos por estos términos y 
          condiciones puede solicitar la autorización escrita de VOXEL S.A.S., a través de correo postal al domicilio indicado.
      </p>
      <p>
          El Usuario deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera
           instalado en cualquiera de las páginas web de VOXEL S.A.S..
      </p>
      <p>
          Así mismo el Usuario se abstendrá de utilizar los contenidos de las paginas web de VOXEL S.A.S para incluirlos en otra página web, sin previa autorización expresa.
      </p>
      <p>
          VOXEL S.A.S. se reserva el derecho de no almacenar este contenido y excluye toda responsabilidad por la pérdida del mismo.
      </p>
      <p>
          En caso de detectar usos inadecuados de sus Servicios por parte de un Usuario, VOXEL S.A.S. se reserva el derecho de excluirle de los mismos.
      </p>
      <h3>Limitación de Responsabilidad de VOXEL S.A.S. </h3>
      <p>
          VOXEL S.A.S. actúa de buena fe y no se hace responsable, directa o subsidiariamente, de cuantas reclamaciones puedan derivarse de la calidad, 
          fiabilidad, exactitud o corrección de los contenidos alojados en sus páginas web u otros medios de comunicación.
      </p>
      <p>
          VOXEL S.A.S. no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que se pudieran ocasionar, 
          a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad de esta web o la transmisión de virus o programas 
          maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
      </p>
      <p>
          VOXEL S.A.S. se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en sus páginas web, pudiendo cambiar, 
          suprimir o añadir tanto los contenidos y Servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados.
      </p>
      <p>
          En el caso de que en cualquiera de sus páginas web se dispusiesen enlaces o hipervínculos hacia otros sitios de Internet, VOXEL S.A.S. no ejercerá ningún
           tipo de control sobre dichos sitios y contenidos.
      </p>
      <p>
          En ningún caso VOXEL S.A.S. asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la 
          disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida 
          en ninguno de dichos hipervínculos u otros sitios de Internet. Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación,
           fusión o participación con las entidades conectadas.
      </p>
      <p>
          VOXEL S.A.S. ha concluido todos los contratos necesarios para la continuidad de sus páginas web y realizará sus mejores esfuerzos para que las mismas 
          no sufran interrupciones, pero no puede garantizar la ausencia de fallos tecnológicos, ni la permanente disponibilidad de sus páginas web y de los 
          Servicios contenidos en ellas y, en consecuencia, no asume responsabilidad alguna por los daños y perjuicios que puedan generarse por la falta de 
          disponibilidad y por los fallos en el acceso ocasionados por desconexiones, averías, sobrecargas o caídas de la red no imputables a VOXEL S.A.S..
      </p>
      <p>
          VOXEL S.A.S. se reserva el derecho a denegar o retirar el acceso a cualquiera de sus páginas web y/o los Servicios ofrecidos sin necesidad de preaviso, 
          a instancia propia o de un tercero, a aquellos Usuarios que incumplan las presentes Condiciones Generales de Uso.
      </p>
      <h3>Jurisdicción Aplicable </h3>
      <p>
          La relación entre VOXEL S.A.S. y el Usuario se regirá por la normativa colombiana vigente y cualquier controversia se someterá a los Juzgados y 
          tribunales que resulten legalmente competentes.
      </p>
      <p>
          VOXEL S.A.S. perseguirá el incumplimiento de las presentes condiciones, así como cualquier utilización indebida de esta web ejerciendo todas las 
          acciones civiles y penales que le puedan corresponder en derecho.
      </p>
      <p>
          VOXEL S.A.S. podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen.
      </p>
      <p>
          La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
      </p>
      <p>
          Cualquier inquietud Jurídica debe ser dirigida a VOXEL S.A.S. NIT 900096183-6 en Colombia.
      </p>

    </div>
  
  </div>