
<div class="top-img">
</div>

<div class="body-pg" id="body-page">
    <div class="cert-inf">
      <div class="title-img"><img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/ChaosgroupOfficialPartnerLogoB1.jpg" alt=""></div>
      <img class="prod-des-img" src="http://assets.voxel3d.net/chaos-group/aboutcg.jpg" alt="">
      <div class="cert-inf-cnt">
        <p>Chaos Group es líder mundial en tecnología de gráficos por computadora que ayuda a los artistas y diseñadores a crear imágenes y animación fotorreal para diseño, televisión y largometrajes. Chaos Group es la casa matriz del software de iluminación y representación V-Ray, usado a diario por los mejores estudios de diseño, empresas de arquitectura, agencias de publicidad y compañías de efectos visuales al rededor del mundo. Su departamento de i+d trabaja constantemente en proyectos de: renderizado en la nube, escaneo de materiales y realidad virtual, que dan forma al futuro de la creatividad y el diseño digital. Para más información, visite chaosgroup.com.</p>
        <br>       
      </div>
    </div>
  
    <div class="courses-info">
      <div class="courses-title">
        <h1 class="courses-title-h"><span>Productos relacionados</span></h1>
      </div>
  
       
      <div class="course-container">
       
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/vray']"><img  src="http://assets.voxel3d.net/chaos-group/aboutvray.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Es un motor de renderizado fotorealista que usa técnicas avanzadas tales como algoritmos de Iluminación Global, Mapeo de Fotones, Mapas de Irradiación, Luces Indirectas, Causticas, Fuerza Bruta. 
            </p>
            <br>
            <p>
              V-Ray es el principal referente en motores de render para la elaboración de escenas con un alto nivel de visualización, ofreciendo los recursos necesarios para obtener imágenes de calidad profesional. Es usado ampliamente en la industria del cine y producción de juegos de vídeo, como en la industria de Arquitectura y Diseño de Producto.
            </p>  
           
          </div>
        </div>        
      </div>
      
      <div class="char-container">
        <div class="char-title">
          <h1>Características y ventajas</h1>
        </div>
        <div class="char-row">
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/like.svg" alt="">
            </div>
            <div class="char-column-txt">
              <h3>FÁCIL DE USAR</h3>
              <p>Fácil de aprender y de usar, V-Ray trabaja de manera fluida con diversas herramientas de modelado 3D.</p>                
            </div>           
          </div>
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/quality.svg" alt="">
            </div>
            <div class="char-column-txt">
              <h3>CALIDAD</h3>
              <p>V-Ray te deja renderizar imágenes con la mayor calidad posible.</p>
            </div>
          </div>            
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/power.svg" alt="">
            </div>
            <div class="char-column-txt">
              <h3>PODER</h3>
              <p>V-ray te da el poder de renderizar desde lo más sencillo hasta los modelos más detallados.</p>
            </div>
          </div>            
        </div>
        <div class="char-row">
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/speed.svg" alt="">
            </div>
            <div class="char-column-txt">              
              <h3>VELOCIDAD</h3>
              <p>Renderiza rápido y diseña rápido. V-ray te da más tiempo para la creatividad al reducir los tiempos de espera.</p>
            </div>            
          </div>
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/creativeControl.svg" alt="">
            </div>
            <div class="char-column-txt">
              <h3>CONTROL CREATIVO</h3>
              <p>Enfócate en diseñar con un inventario completo de herramientas para luces, materiales y render.</p>
            </div>           
          </div>
          <div class="char-column">
            <div class="char-column-img">
              <img class="img-responsive"src="http://assets.voxel3d.net/chaos-group/industryStandard.svg" alt="">
            </div>
            <div class="char-column-txt">
              <h3>ESTÁNDAR DE LA INDUSTRIA</h3>
              <p>Los diseñadores líderes confían en V-Ray todos los días para visualizar productos de clase mundial, edificaciones y más.</p> 
            </div>            
          </div>            
        </div>
      </div>
      
      <div class="prod-container">
          <div class="prod-title">
            <h1>Plataformas disponibles</h1>
          </div>
          <div class="prod-row">
            <div class="prod-column">
             <a href="https://www.chaosgroup.com/vray/3ds-max" target="_blank">V-Ray para 3ds Max</a>
             <a href="https://www.chaosgroup.com/vray/maya" target="_blank">V-Ray para Maya</a>
             <a href="https://www.chaosgroup.com/vray/render-node" target="_blank">V-Ray Render Node</a>
             <a href="https://www.chaosgroup.com/vray/cinema-4d" target="_blank">V-Ray para Cinema 4D</a>
            </div>
            <div class="prod-column">
              <a href="https://www.chaosgroup.com/vray/modo" target="_blank">V-Ray para Modo</a>
              <a href="https://www.chaosgroup.com/vray/nuke" target="_blank">V-Ray para Nuke</a>
              <a href="https://www.chaosgroup.com/vray/katana" target="_blank">V-Ray para Katana</a>
            </div>
            <div class="prod-column">
              <a href="https://www.chaosgroup.com/vray/sketchup" target="_blank">V-Ray para Sketchup</a>
              <a href="https://www.chaosgroup.com/vray/rhino" target="_blank">V-Ray para Rhino</a>
              <a href="https://www.chaosgroup.com/vray/revit" target="_blank">V-Ray para Revit</a>
            </div>
            <div class="prod-column">
              <a href="https://www.chaosgroup.com/vray/blender" target="_blank">V-Ray para Blender</a>
              <a href="https://www.chaosgroup.com/vray/standalone" target="_blank">V-Ray Standalone</a>
              <a href="https://www.chaosgroup.com/vray/application-sdk" target="_blank">V-Ray Application SDK</a>
              <a href="https://www.chaosgroup.com/vray/benchmark" target="_blank">V-Ray Benchmark</a>              
            </div>           
          </div>
        </div>   
    </div>
  </div>