 html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.top-bar{
  background-color: black;
  text-align: right;
  z-index:5;
}
.top-bar-icon{
  color: white;
  font-size: x-large;
  padding-left:7px;
}
.top-bar-icon>span{
  color: white;
  font-size: x-large;
  margin-top:3px;
  margin-bottom:3px;
}

.icons-topbar{
  margin-right:30px;
  z-index: 5;
}

.login-mob-active{
   float:left;
   clear:both;
   padding-left: 12px;
   padding-right: 12px;
   padding-top:12px;
   padding-bottom:12px;
   width:210px;
   display:none;
  }

 .login-mob-inact {
   float:left;
   clear:both;
   padding-left: 12px;
   padding-right: 12px;
   padding-top:12px;
   padding-bottom:12px;
   width:240px;
   -webkit-touch-callout: none !important;
   display:none;
   }

   .login-mob-inact>a{
     float:left;
     clear:both;
     -webkit-touch-callout: none !important;
  }

 .log-img-cnt{
   position: relative;
   box-sizing: content-box;

  }

 .icon-log-mob{
   max-height:90px;
   border-radius: 50%;
 }

 .login-txt{
   color:rgb(179,179,179);
   text-decoration: none;
   margin-left:20px;
   margin-right:20px;
   margin-top: 20px;
   margin-bottom:20px;
   font-size: 30px;
  }

 .log-inf-cnt{
   float:right;
   text-align:left;
   -webkit-touch-callout: none;
 }

 .welcome{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   font-size: 8px;
   cursor: default;
   display:inline-block;
 }

 .user-name, .user-name:hover{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   cursor:default;
 }

.name-inf{
  float:left;
  margin-bottom:15px;
}

 .my-account{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   margin-left:10px;
   cursor:pointer;
 }

 .logout{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   cursor:pointer;
   margin-left:10px;
 }

.login{
  right:0;
  position:absolute;
  margin-top:35px;
  margin-right:30px;
  color: rgb(255,159,10);
  text-decoration:none
}

.login:hover{
  cursor:pointer;
}

.login-submenu{
  position:absolute;
  right:30px;
  top:100px;
  font-family: 'Varela Round', sans-serif;
  padding-top:4px;
}

.arrow-point{
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   /*border-bottom: 10px solid rgb(254,249,219);*/
   border-bottom: 10px solid rgb(256,256,256);
   position:absolute;
   right:5px;
   z-index:4;
}
.arrow-point-back{
   width: 0;
   height: 0;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   border-bottom: 10px solid rgba(0,0,0,.2);
   position:absolute;
   right:5px;

}

.button-cnt{
  margin-top:11px;
  background-color: rgb(256,256,256);
  width:100%;
  float:right;
  clear:both;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
}
.login-icon{
  max-height: 32px;
  border-radius: 50%;
}
.login-submenu>div>a{
  padding:5px;
  float:right;
  text-align:right;
  clear:both;
  text-decoration:none;
  color:rgb(102, 102, 102);
  width:100%;
}

.login-submenu>div>a:hover{
  color: rgb(255,159,10);
  background-color: rgba(0,0,0,0.7);
  cursor: pointer;
}
@media screen and (max-width: 942px){
  .login{display:none}
  .login-mob-inact{display:block}
  .login-mob-active{display:block}
}

.menu{
  display:block;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  /*font-family: "helvetica","arial", sans-serif;*/
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}
.menu-cnt{
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  box-sizing: content-box !important;
}

.submen-ctn{
    display: inline-block;
    height: 100%;
    padding-top: 35px;
    font-size:85%;
}

 .submen-ctn >a {
    /* cursor: default; */
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.submen-ctn>a>span{
  padding-left: 5px;
  font-size: 85%;
}
.ulCentering{
display: table-cell;
width:100%;
box-sizing: border-box;
text-align: center;
}

.divul{
  padding-left: 30%;
}


.title{

  max-height: 75px;
  float: left;
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
  margin-left: 20px;
  margin-bottom:10px;
}

.login{

  right:0;
  position:absolute;
  margin-top:35px;
  margin-right:30px;
  color: rgb(255,159,10);
  text-decoration:none
}

.login-icon{
  max-height: 30px;
}

.super-nav{
  z-index: 5;
}
.menucont {
position: absolute;
background-color: rgba(0,0,0,0.7);
padding: 2%;
display: flex;
width: 100%;
color: white;
z-index: 5;
display:flex;
justify-content: center;
align-items: flex-start;


}
.ghost{

position:relative;
z-index:0;
visibility: hidden;

}

.titleg{
  max-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top:10px;
  margin-left: 20px;
  margin-bottom:10px;
  visibility: hidden;
}

.contmen{
width: 100%;
position: fixed;
z-index: 5;
}

 .nav-cursor{
   cursor: pointer;
 }

 .content-sub{
   display:block;
   float:left;
   left: 100%;
   padding-left: 35px;
   padding-right: 35px;
   top: 50%;
   /* margin-left: 10px; */
   align-self: stretch;
   font-size: medium;
   text-transform: uppercase;
   word-spacing: 10px;

 }
  .content-sub-click{
   cursor: pointer;
   color: rgba(255, 255, 255, 1);
   padding-bottom: 15px;
   text-decoration:none;
  }
  .content-sub-click:hover{
   text-decoration:none;
   cursor: pointer;
   color: rgb(255,159,10);
}
  .sub-click{
    cursor: default;
   color: rgba(255, 255, 255, 1);
   padding-bottom: 15px;
   text-decoration:none;
  }
  /* .content-sub>a:hover{
   text-decoration:none;
   cursor: pointer;
   color: rgb(255,159,10);
 } */
 .item-desk{
      font-size:small;
      text-transform: capitalize;
      text-decoration:none;
 }
 .item-desk>a{
   color: white;
 }
 .item-desk>a:hover{
   text-decoration:none;
   color: rgb(255,159,10);
 }




/* NAV BAR MOBILE-------------------------------------------------------------------------------------------------------------------*/

/* ScrollBar-------------*/

div.menu-list-mob::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

div.login-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

div.menu-list-mob::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

div.login-scroll::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

div.menu-list-mob::-webkit-scrollbar-thumb
{
	background-color: #BDB9B8;
}

div.login-scroll::-webkit-scrollbar-thumb
{
	background-color: #BDB9B8;
}

.menu-mob{
  display:block;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  display:none;
  font-family: 'Varela Round', sans-serif;
}

.topnav {
    background-color:  black;
    z-index:10;
    top:60px;
    position:fixed;
    min-width: 250px;
    box-sizing:border-box;
    height:calc(100% - 60px);
    display:none;
    font-family: 'Varela Round', sans-serif;
}

.headmob{
  text-align: center;

}

.title-mob{

   max-height: 60px;
   position:relative;
   padding: 5px 5px 5px 5px;
   margin:auto;

}


.title-mob-click:active, .title-mob-click:hover {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon {
  text-decoration: none;
  position: absolute;
  font-size :30px;
  padding-top:9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  left:0;
  cursor: pointer;
  }



 /*Style the links inside the navigation bar */

 .login-mob-active{
   float:left;
   clear:both;
   padding-left: 12px;
   padding-right: 12px;
   padding-top:12px;
   padding-bottom:12px;
   width:100%;
   display:flex;
   justify-content: center;
 }


 .login-mob-inact {
   float:left;
   clear:both;
   padding-left: 12px;
   padding-right: 12px;
   padding-top:12px;
   padding-bottom:12px;
   width:100%;
   -webkit-touch-callout: none !important;
   display:flex;
   justify-content: center;
   }

   .login-mob-inact>a{
     float:left;
     clear:both;
     -webkit-touch-callout: none !important;
  }

 .log-img-cnt{
   position: relative;
   box-sizing: content-box;

  }

 .icon-log-mob{
   max-height:90px;
   border-radius: 50%;
 }

 .login-txt{
   color:rgb(179,179,179);
   text-decoration: none;
   margin-left:20px;
   margin-right:20px;
   margin-top: 20px;
   margin-bottom:20px;
   font-size: 30px;
  }

 .log-inf-cnt{
   float:right;
   text-align:left;
   -webkit-touch-callout: none;
   margin-left:10px;
 }

 .welcome{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   font-size: 8px;
   cursor: default;
   display:inline-block;
 }

 .user-name, .user-name:hover{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   cursor:default;
 }

 .name-inf{
  float:left;
  margin-bottom:15px;
}

 .my-account{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   margin-left:10px;
   cursor:pointer;
 }

 .admin-console{
  float:left;
  clear:both;
  color:rgb(179,179,179);
  text-decoration: none;
  margin-left:10px;
  cursor:pointer;   
 }

 .logout{
   float:left;
   clear:both;
   color:rgb(179,179,179);
   text-decoration: none;
   cursor:pointer;
   margin-left:10px;
 }



 .menu-list-mob{
   padding-left: 5px;
   padding-right: 5px;
   height:calc(100% - 169px);
   overflow-y: auto;
 }

.menu-cntmob{
  text-decoration:none;
  margin:7px;
  cursor: pointer;
}
.mobsub{
  float:left;
  clear:both;
  margin-top:10px;
}

.mobsub>a{
    color:white;
    font-size:large;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}

.mobsub:hover {
    font-size:large;
    text-decoration: none;
    list-style: none;

}

.subMenuActivet{
  float:left;
  clear:both;
  margin-left: 20px;
  margin-top:10px;
  margin-bottom:5px;
}
.subMenuActivet>a{
  margin-left: 20px;
  float:left;
  clear:both;
  width:calc(100%-20px);
  text-decoration: none;
  color: white;
  font-size: large;
  cursor: default;
}

.subMenuActivet:hover{
  text-decoration:none;
}

.items{
  float:left;
  clear:both;
  margin-left: 40px;
  margin-bottom:5px;
}


.items>div>a{
  float:left;
  clear:both;
  font-size: large;
  text-decoration: none;
  color: rgb(179,179,179);
}

.items>div>a:hover{
  text-decoration:none;
}

@media screen and (max-width: 942px){
  .menu{display:none;}
  .top-bar{display:none;}
  .menu-mob{display:block;}
  .topnav{display:block;}
  .titleg{
    max-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0;
    margin-left: 20px;
    margin-bottom:0;

  }
  .subMen{display:none;}
}

@media handheld and (max-width: 942px) {
  .icon:hover {
    color: black;
    background-color: white;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 942px) {
  .topnav.responsive >div>div>a{position: relative;}
  .topnav.responsive >div {
    float: left;
    display: block;
    text-align: left;
  }
  .subMen.subMenuActivet{
    display: block;
  }

}

/*  Pop up login     */



.pretty-slider-cnt{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  z-index:7;
}

.escape-button{
  display:block;
  position:fixed;
  float:right;
  top:0;
  right:0;
  width:10%;
  height:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:8;
  margin-right:1%;
  margin-top:1%;
  }

  .escape-button>a{
    float:right;
    width:50%;
    height:50%;
  }

  .escape-icon{
    opacity:0.8;
  }
  .escape-icon:hover{
    opacity:1;
    cursor:pointer;
  }

  .login-cnt{   
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;    
  }

  .login-scroll{
    display:block;    
    max-height:90%;
    width:40%;
    overflow-y:auto;
    overflow-x: hidden;
    border-radius: 10px;
  }

  
@media all and (max-width: 942px)  and (orientation:landscape){
  .login-scroll{
    width:60%;
  }
}

@media all and (max-width: 942px)  {
  .login-scroll{
    width:90%;
  }
}
