
<div class="top-img">
</div>

<div class="body-pg" id="body-page">
    <div class="cert-inf">
      <div class="title-img"><img class="img-responsive"src="http://assets.voxel3d.net/tdm-solutions/tdm.jpg" alt=""></div>
      <img class="prod-des-img" src="http://assets.voxel3d.net/rhinoceros/Disenoindustrial2.jpg" alt="">
      <div class="cert-inf-cnt">
        <p>Esta empresa lidera el desarrollo de Plugins para Rhino, particularmente hacia el área de Joyería y Calzado. RhinoGold, Clayoo, RhinoNest y RhinoShoe son los productos que desarrolla y actualiza constantemente. El modelado por SubDivisiones y esculpir modelos orgánicos son dos de los desarrollos más recientes que TDM aporta a la comunidad de usuarios de Rhino.</p>
        <br>       
      </div>
    </div>
  
    <div class="courses-info">
      <div class="courses-title">
        <h1 class="courses-title-h"><span>Productos</span></h1>
      </div>
  
       
      <div class="course-container">
       
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/clayoo']"><img  src="http://assets.voxel3d.net/tdm-solutions/clayoo.png"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Descubra cómo Clayoo puede mejorar su experiencia en 3D dentro de Rhinoceros. Su freeform software con posibilidades ilimitadas SubD, Emboss y Sculpt. Todo lo que necesitas para dominar el mundo orgánico.
              No importa si usted comienza a partir de un boceto, una curva o un objeto 3D ya que podrá alargar, estirar , deformar y mover las diferentes partes del objeto hasta que su idea se haga realidad.
            </p>  
           
          </div>
        </div> 
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/rhinonest']"><img  src="http://assets.voxel3d.net/tdm-solutions/rhinonest.png"> </a>                       
          </div>
          <div class="course-content">
            <p>
              El paso adecuado previo a la producción.
              permite la optimización de cualquier tipo de geometría con un sinfín de opciones para reducción máxima, como serían: Paneles Múltiples, uso de formas reales o rectangulares, prioridades entre objetos, entre muchos otras opciones.
              RhinoNest® está totalmente integrado en Rhinoceros y por tanto, proporciona optimización en minutos sin la necesidad de importar ficheros desde diferentes softwares ya que soporta todo tipo de geometrías. Diseñado para Rhinoceros 5.0
            </p>  
           
          </div>
        </div> 
        <div class="course-dielo">
          <div class="course-img">
            <a href="https://www.chaosgroup.com/vray/rhino" target="_blank"><img  src="http://assets.voxel3d.net/tdm-solutions/rhinogold.png"> </a>                       
          </div>
          <div class="course-content">
            <p> 
              RhinoGold mejora drásticamente los aspectos más importantes de la experiencia RhinoGold. Introduce nuevas herramientas decorativas avanzadas y de ahorro de tiempo.
              
              Una interfaz adecuada para CAD de joyería junto con la facilidad de sus herramientas, hace que RhinoGold sea el camino correcto.
            </p>           
          </div>
        </div>                      
      </div>
    </div>
  </div>