<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">SISTEMAS DE TRANSPORTE</h1> 
  
    <div class="info-cnt">
      <p>La tecnología de modelado NURBS usada por Rhino fue desarrollada en los años 50’s por el sector automotriz en Francia. Por esta razón Rhino encaja perfectamente 
        en el desarrollo de carrocerías, fuselajes, vidrios y estampados de doble curvatura.</p>
      <p>Desde autos deportivos como el Saleen S7 hasta sistemas de transporte articulados como las carrocerías de BUSSCAR usan Rhino.</p>
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/sistemas-de-transporte/transporte1.jpg" alt="">
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/sistemas-de-transporte/transporte2.jpg" alt="">
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>
           
  
    </div>
  </div>