<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">BIM</h1> 

  <div class="info-cnt">
    <p></p>
    <p></p>
   
  </div>
  <div class="img-section">
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/arquitectura/bim/bim1.jpg" alt="">        
    </div>
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/arquitectura/bim/bim2.jpg" alt="">
    </div>
  </div>
  <div class="slider-cnt">
    <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
  </div>
  
  <div class="products-cnt">
    <div class="products-title">
      <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
    </div>
    <!-- <div class="product-slider-cnt">
      <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
    </div>  
  </div> -->
</div>