
<div class="top-img">
</div>

<div class="body-pg" id="body-page">
    <div class="cert-inf">
      <div class="title-img"><img class="img-responsive"src="http://assets.voxel3d.net/asunicad/asunicad.jpg" alt=""></div>
      <img class="prod-des-img" src="http://assets.voxel3d.net/rhinoceros/Disenoindustrial2.jpg" alt="">
      <div class="cert-inf-cnt">
        <p>Es la empresa desarrolladora de VisualARQ, software BIM, que permite diseñar, parametrizar y documentar proyectos arquitectónicos, de diseño de interiores e ingeniería civil. VisualARQ cumple con la normatividad IFC permitiendo compatibilidad con: Revit, Archicad, Solibri Model Viewer, Tekla BIMsight y AutoCAD® Architecture. Además VisualARQ tiene conexión con Grasshopper, consolidándose como la aplicación de BIM más innovadora existente a nivel mundial.</p>
        <br>       
      </div>
    </div>
  
    <div class="courses-info">
      <div class="courses-title">
        <h1 class="courses-title-h"><span>Productos</span></h1>
      </div>
  
       
      <div class="course-container">
       
        <div class="course-dielo">
          <div class="course-img">
            <a href="https://www.chaosgroup.com/vray/rhino" target="_blank"><img  src="http://assets.voxel3d.net/asunicad/visualarq.png"> </a>                       
          </div>
          <div class="course-content">
            <p>
              VisualARQ añade funciones arquitectónicas y objetos arquitectónicos paramétricos para el modelado 3D y la documentación 2D.
              Modele de forma libre con Rhino: convierta cualquier geometría de forma libre en un objeto informado con VisualARQ.             
            </p>          
          </div>
        </div>                   
      </div>
    </div>
  </div>