<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">JOYERÍA</h1> 
  
    <div class="info-cnt">
      <p>Joyería, Bisuteria y Relojeria:</p>
      <p>Desde que los precios de las tecnologías de prototipado rápido para el sector joyero bajaron sus costos en el año 2010, Rhino se ha establecido como su herramienta de 
        diseño digital por excelencia. Prácticamente todos los CNC de Tallado de Cera o los sistemas de aporte de material orientados a Joyería son basados en Rhino.</p>
      <p>Para el modelado se puede combinar la potencia del modelado Nurbs de Rhino con el Modelado por subdivisiones de Clayoo o la automatización de tareas realizada en Grasshopper
         para obtener modelos de altísima complejidad y detalle.</p>
      <p>El proceso de obtención de los prototipos realizado con sistemas de Estereolitografía, JetWax, Sinterización o Arranque de Viruta es ampliamente usado por empresas de diferente 
        escala y procesos como FINART, Oro y Arte o WR Joyeros.</p>
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/joyeria/Joyeria1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/joyeria/Joyeria2.jpg" alt="">        
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>
           
  
    </div>
  </div>