.public-cnt{
  margin-bottom:30px;
}
.body-pg{
  max-width: 1240px;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:20px;
}
.body-pg>iframe{
    margin: auto;
}