<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">SECTOR ACADÉMICO</h1> 
  
    <div class="info-cnt">
      <p>Como herramienta para apropiar los conceptos de manejo espacial, geometría descriptiva, dibujo técnico y trigonometría Rhino es usado ampliamente en
         educación media y vocacional. En formación técnica y profesional para diseño industrial, arquitectura, mobiliario, calzado y joyería, Rhino se usa como 
         herramienta fundamental para proveer a los futuros profesionales de herramientas competitivas que aplicará en el ejercicio de su oficio.</p> 
      <p>La mayor parte de las Universidades con programas de Diseño Industrial y Arquitectura usa Rhino bien dentro de los contenidos de aplicaciones CAD o como materia independiente. </p>  
    </div>
    <div class="img-section">
      <div class="img-cnt hor-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/educacion/sector-academico/voxelAcademico.jpg" alt="">        
      </div>
      <!-- <div class="img-cnt hor-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/sistemas-de-transporte/productoExterno.jpg" alt="">
      </div> -->
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <!-- <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>  
    </div> -->
  </div>