<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">PRÓTESIS Y ÓRTESIS</h1> 
  
    <div class="info-cnt">
      <p>El uso de Archivos DICOM generados por sistemas TAC en tareas de diagnóstico, diseño de protesis ortopedicas, planeación de procedimiento quirúrgicos, implantes dentales y 
        diseño de sonrisa, conlleva el uso de sistemas CAD y CAM para la generación, visualización y fabricación de los modelos 3D. Rhino posee la capacidad de procesar y 
        editar archivos de malla poligonal de alta precisión, combinandolos con polisuperficies nativas NURBS para el diseño de cualquier requerimiento de Ingenieria Biomédica.</p>   
    </div>
    <div class="img-section">
      <!-- <div class="img-cnt hor-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/medicina/odontologia/odontologiaVoxel.jpg" alt="">        
      </div> -->
      <!-- <div class="img-cnt hor-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/sistemas-de-transporte/productoExterno.jpg" alt="">
      </div> -->
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <!-- <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>  
    </div> -->
  </div>