<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">MODELADO, ANIMACIÓN Y RENDER</h1> 

  <div class="info-cnt">
    <ul>
      <li>Modelado en 3D para Producto Industrial.</li>
      <li>Modelado en 3D para la Construcción y Arquitectura.</li>
      <li>Servicio de arte para render de escenarios y animaciones.</li>
      <li>Servicio de arte para render de producto.</li>
    </ul>
  </div>
  <div class="img-section">
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/modelado-animacion-render/Andres-Forero-Escena.jpg" alt="">
      
    </div>
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/modelado-animacion-render/Andres-Forero-Escena1.jpg" alt="">
    </div>
  </div>

  <div class="video-section">
    <div class="video-cnt vert-align">
      <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/BqVo48LYxL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      
    </div>
    <div class="video-cnt vert-align">
      <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/17BMyglhWXM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>