<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">JUGUETERÍA</h1> 
  
    <div class="info-cnt">
      <p>A diferencia de los modeladores de malla poligonal, que en principio están orientados a procesos de visualización, el modelado realizado en Rhino es compatible con 
        procesos de fabricación de juguetes y utilería. El modelo de Rhino es aceptado por los sistemas de creación gráfica y render avanzado para ser integrados en los procesos de 
        animación, manteniendo la coherencia, proporción y morfología entre el modelo requerido para creación de imagen y el modelo requerido para procesos de fabricación material.</p>
      <p>Coltoys y TopPromotions fabrican en Colombia Juguetería licenciada WaltDisney y SanRio-Hello Kitty con Rhino y sistemas de prototipado rápido. En el libro Behind the Mask of 
        Spider-man: The Secrets of the Movie, se detalla como Paul Ozzimo uso Rhino para modelar el planeador del Duende Verde y las bombas calabaza.</p>
    
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/jugueteria/jugueteria1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/jugueteria/jugueteria2.jpg" alt="">
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>
           
  
    </div>
  </div>