<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">INGENIERÍA INVERSA</h1> 
  
    <div class="info-cnt">
      <p>Los sistemas de captura de información 3D como scanner láser, fotogrametría o brazos digitalizadores son compatibles 
        con la plataforma OpenNURBS de Rhino. Nubes de puntos, Mallas poligonales o Puntos capturados en tiempo real pueden ser usados para procesos de modelado 
        directo o para retopologizar y convertirlos en superficies y sólidos editables. Rhino es usado en el sector automotriz, arquitectura, antropología o diseño de producto para 
        rediseñar, evaluar o comparar capturas 3D con precisión y bajo costo.</p>
     
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/inversa/inversa1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/inversa/inversa2.jpg" alt="">        
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>  
    </div>
  </div>