<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">DESARROLLO DE APPS Y REALIDAD AUMENTADA</h1> 
  
    <div class="info-cnt">
     <p>Desarrollamos aplicaciones de software que abarcan diseño de plugins para Rhino y Grasshopper, así como proyectos basados en tecnologías de Realidad Aumentada para brindar experiencias inmersivas en la presentación de productos y servicios.</p>
    </div>
    <div class="img-section">
      <div class="img-cnt hor-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/desarrollo/Servicios2.jpg" alt="">      
      </div>
    </div>
  
    <div class="video-section">
      <div class="video-cnt vert-align">
          <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/9fvVMl_uLZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>     
      </div>
      <div class="video-cnt vert-align">
          <iframe width="{{videoWidth}}" height="{{videoHeight}}" src="https://www.youtube.com/embed/HV-v3-CtWNA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
      </div>
    </div>
  </div>