<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">DISEÑO DE PRODUCTO</h1> 

  <div class="info-cnt">
    <p>Rhinoceros es ampliamente usado a nivel mundial para el diseño de productos en el sector de envases, mobiliario y electrodomésticos. 
      Su versatilidad formal y precisión han sido aprovechadas por los diseñadores para modelar, visualizar, documentar y exportar el diseño hacia aplicaciones CAM, 
      Sistemas de Prototipado Rápido o hacia procesos de producción tradicionales.</p>
  </div>
  <div class="img-section">
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/producto/producto1.jpg" alt="">
      
    </div>
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/producto/producto2.jpg" alt="">
    </div>
  </div>
  <div class="slider-cnt">
    <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
  </div>
  
  <div class="products-cnt">
    <div class="products-title">
      <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
    </div>
    <div class="product-slider-cnt">
      <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
    </div>       

  </div>
</div>