<div class="top-img">
</div>
<div class="body-pg">
    <h1 class ="page-title">INGENIERÍA CIVIL</h1> 

  <div class="info-cnt">
    <p>Rhino permite el trabajo con proyectos robustos, integrando datos provenientes de aplicaciones GIS, sistemas CAD de otros fabricantes e información de topografía. 
      En Rhino se consolida en una única plataforma estable y precisa toda la información de un proyecto de minería o un POT.</p>
    <p>La Ciudad de Lyon en Francia ha adoptado la solución de RhinoCity desde el 2011 para el tratamiento de grandes volúmenes de datos, para la planeación de 1,200Km² de territorio.</p>
  
  </div>
  <div class="img-section">
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/civil/civil1.jpg" alt="">        
    </div>
    <div class="img-cnt vert-align">
      <img class="img-responsive" src="http://assets.voxel3d.net/sectores/ingenieria/civil/civil2.jpg" alt="">
    </div>
  </div>
  <div class="slider-cnt">
    <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
  </div>
  
  <div class="products-cnt">
    <div class="products-title">
      <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
    </div>
    <div class="product-slider-cnt">
      <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
    </div>    

  </div>
</div>