
<div class="top-img">
</div>

<div class="body-pg" id="body-page">
    <div class="cert-inf">
      <div class="title-img"><img class="img-responsive"src="http://assets.voxel3d.net/rhinoceros/logo_rhino.png" alt=""></div>
      <img class="prod-des-img" src="http://assets.voxel3d.net/rhinoceros/Disenoindustrial2.jpg" alt="">
      <div class="cert-inf-cnt">
        <p>Establecida desde 1980, McNeel desarrolla: Rhinoceros, Grasshopper, Flamingo, Brazil, Penguin y Bongo. Rhino es un CAD de modelado 3D basado en tecnología NURBS; su ventaja fundamental es permitir el modelado de formas muy complejas, sin que esto vaya en contravía de la precisión requerida para procesos de ensamble, fabricación, CAM y CAE. Debido a que Rhinoceros tiene su SDK abierto para desarrollo de complementos, cuenta como ningún otro paquete CAD con una serie de Plugins que optimizan el uso de Rhino para sectores específicos.</p>
        <br>       
      </div>
    </div>
  
    <div class="courses-info">
      <div class="courses-title">
        <h1 class="courses-title-h"><span>Productos</span></h1>
      </div>
  
       
      <div class="course-container">
       
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/rhinoceros']"><img  src="http://assets.voxel3d.net/rhinoceros/RhinoHead1.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Rhino puede crear, editar, analizar, documentar, renderizar, animar y traducir curvas NURBS, superficies y sólidos, nubes de puntos y mallas poligonales. No hay límite de complejidad, grado o tamaño, a parte del que posea su hardware. 
              Rhino 3D se ha ido popularizando en las diferentes industrias, por su diversidad, funciones multidisciplinares y el relativo bajo costo. Las vastas opciones para importación y exportación en el programa es una razón del crecimiento de su uso.
            </p>  
           
          </div>
        </div> 
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/flamingo']" ><img  src="http://assets.voxel3d.net/rhinoceros/Flamingo.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Flamingo fue desarrollado para diseñadores. No es necesario ser un profesional de la computación gráfica para presentar con rapidez su modelo de Rhino con la luz óptima.
             Produce resultados realistas simulando el transporte de la luz en su modelo. La iluminación indirecta, además de la reflexión y la refracción complejas, pueden incorporarse fácilmente en la simulación.
            </p>  
           
          </div>
        </div> 
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/penguin']"><img  src="http://assets.voxel3d.net/rhinoceros/Mcneel-Penguin-300x300.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p> 
              Penguin permite obtener diferentes tipos de renderizado en Rhino y AutoCAD: trazado a mano alzada, acuarela, caricatura y dibujo técnico. 
              Penguin es un renderizador no fotométrico para Rhino. Con Penguin podrá crear imágenes no fotorrealísticas de sus modelos con un aspecto artístico para obtener gráficos mejorados y gran atractivo visual.
            </p>  
           
          </div>
        </div>        
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/bongo']"><img  src="http://assets.voxel3d.net/rhinoceros/Mcneel-Bongo.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Bongo permite animación simple e integrada para Rhinoceros 5 y 6. Previsualizaciones dentro de Rhino, en tiempo real y en cualquier tipo de matiz.
              Con Bongo puedes animar objetos de Rhino moviéndolos, escalándolos y rotándolos sin tener que exportarlos. Los objetos y las vistas de ventana son fácilmente editables en Rhino usando omandos simples como soltar y arrastrar.
            </p>          
          </div>
        </div>        
        <div class="course-dielo">
          <div class="course-img">
            <a [routerLink]="['/brazil']" ><img  src="http://assets.voxel3d.net/rhinoceros/descarga.jpg"> </a>                       
          </div>
          <div class="course-content">
            <p>
              Los principales artistas y diseñadores de diferentes tipos de industria dependen del motor de renderizado de Brazil para su trabajo más demandante.           
              Con Brazil los usuarios pueden usar las últimas tecnologías de renderizado sin tener que salir de Rhinoceros.
            </p>          
          </div>
        </div>                      
      </div>
    </div>
  </div>