<div id="{{id}}"  class="carousel slide" data-ride="carousel">
  <div class="message-error" [id]="'message-error'" *ngIf="isMessageError">
    <a>Red lenta, intente cargar de nuevo</a>
  </div>
  <div class="wait-cnt" [id]="'wait'" *ngIf="!slides && !activeEffects">
      <img class="img-responsive" src="http://assets.voxel3d.net/graph-resources/loading.gif" alt="">
  </div>
  <div class="carousel-inner backg" role="listbox" *ngIf="slides && activeEffects">
    <div [id]="'slider0'" class="item active" >
      <a [routerLink]="[slides.getFirst().getUrl()]">
        <div class="slide-cnt" [id]="'slider-cnt0'" [ngClass]="{'only-slide':!slides.getFirst().isVideoHere() && !slides.getFirst().isSecImageHere(),'slide-video':slides.getFirst().isVideoHere() || slides.getFirst().isSecImageHere(), 'black-background':slides.getFirst().isImageHere()}">
          <div [ngClass]="{'video-info':slides.getFirst().isVideoHere() ||  slides.getFirst().isSecImageHere(),'only-info':!slides.getFirst().isVideoHere() || !slides.getFirst().isSecImageHere() }">
            <a>
              <h1 *ngIf="slides.getFirst().isTitleHere()" >{{slides.getFirst().getTitle()}}</h1>        
              <a  *ngIf="slides.getFirst().isDateHere()" class="date-info"  innerHtml="{{slides.getFirst().getDate()}}"></a>
              <a class="first-image" *ngIf="slides.getFirst().isFirstImageHere()">
                <img class="img-responsive" src="{{slides.getFirst().getFirstImage()}}" alt="">
              </a>
            </a>            
            <!-- <div><a class="more-info">Más información</a></div> -->
          </div>
          <div class="video-cnt" *ngIf="slides.getFirst().isVideoHere() && !slides.getFirst().isSecImageHere() ">
              <iframe [id]="'video0'" width="{{videoWidth}}" height="{{videoHeight}}" [src]="slides.getFirst().getVideo()+'?autoplay=1&enablejsapi=1' | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="second-image-cnt" *ngIf="!slides.getFirst().isVideoHere() && slides.getFirst().isSecImageHere()" >
            <img class="img-responsive" src="{{slides.getFirst().getSecImage()}}" alt="">
          </div>
        </div>

        <div class="slide-img" [id]="'slider-img0'">
          <img class="center image-carousel" src="{{slides.getFirst().getImage()}}">
        </div>      
      </a>   
    </div>
    <div class="item" *ngFor="let slide of slides.getSlides();index as i"  [id]="'slider'+ (i+1)" >    
      <a [routerLink]="[slide.getUrl()]" >
          <div class="slide-cnt" [id]="'slider-cnt'+(i+1)" [ngClass]="{'only-slide':!slide.isVideoHere() && !slide.isSecImageHere() ,'slide-video':slide.isVideoHere() || slide.isSecImageHere(), 'black-background':slide.isImageHere() }">
            <div [ngClass]="{'video-info':slide.isVideoHere() || slide.isSecImageHere() ,'only-info':!slide.isVideoHere() || !slide.isSecImageHere() }">              
              <a>
                <h1 *ngIf="slide.isTitleHere()" >{{slide.getTitle()}}</h1>
                <a  *ngIf="slide.isDateHere()" class="date-info" innerHtml="{{slide.getDate()}}"></a>
                <a class="first-image" *ngIf="slide.isFirstImageHere()">
                  <img class="img-responsive" src="{{slide.getFirstImage()}}" alt="">
                </a>
              </a>                      
              <!-- <div><a class="more-info">Más información</a></div> -->
            </div>
            <div class="video-cnt" *ngIf="slide.isVideoHere() && !slide.isSecImageHere() ">
                <iframe [id]="'video'+(i+1)"  width="640" height="360" [src]="slide.getVideo()+'?autoplay=1&enablejsapi=1' | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="second-image-cnt" *ngIf="!slide.isVideoHere() && slide.isSecImageHere() " >
              <img class="img-responsive"  src="{{slide.getSecImage()}}" alt="">
            </div>
          </div>
          <div class="slide-img" [id]="'slider-img'+(i+1)">
            <img class="center image-carousel" src="{{slide.getImage()}}">
          </div>              
      </a>   
    </div>
    <a class="left carousel-control slide-control" [attr.href]="'#'+id" (click)="prevSlide()"role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control slide-control" [attr.href]="'#'+id" (click)="nextSlide()"role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
