<div class="body-pg">
  <div class="general object-aling">
    <div class="content-left">
      <h1>
        Nuestra Empresa
      </h1>

      <p>
        Voxel S.A.S. lidera – desde 2006 – procesos de transferencia de tecnología en aplicaciones de Diseño Asistido por Computador,
        Manufactura Digital, Simulación y  Análisis para Ingeniería – CAD-CAM-CAE.
        Gracias a la calidad de nuestro equipo humano, hemos sido seleccionados como proveedores de soluciones para el sector oficial y
        privado en entidades de diversos sectores: Defensa + Arquitectura e Infraestructura + Universidades e Instituciones Técnicas y
        Tecnológicas + Agencias de Publicidad + Envases y Productos Plásticos + Calzado, Marroquinería y Joyería + Blindaje de Vehiculos
        y Diseño Automotriz + Restauración y Patrimonio + Prótesis y BIO-CAD.

      </p>
      <h1>
        Nuestro Objetivo
      </h1>

      <p>
        Construir experiencias emocionales, vitales, innovadoras, alegres, creativas, dinámicas y reimaginativas que sobrepasen
        constantemente las expectativas de nuestros clientes y proveedores.
      </p>
      <h1>
        Política de Calidad
      </h1>

      <p>
        Voxel S.A.S. asume un compromiso de calidad total con sus servicios y con la permanente actualización tecnológica,
        para disponer productos de punta en diseño digital y su aplicación en el área productiva.
        Obramos con transparencia en la asesoría para nuestros clientes, y que estos puedan tomar las mejores
        decisiones para la adquisición de sus herramientas de trabajo.

      </p>

    </div>

    <div class="content-left">
      <div class="image-ctn">
        <img class="img-responsive shadow"src="../assets/contents/acerca de/acerca de1.jpg" alt="">
      </div>
      <div class="image-ctn">
        <img class="img-responsive shadow"src="../assets/contents/acerca de/acerca de2.jpg" alt="">
      </div>

    </div>
  </div>
</div>
