<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">PUBLICIDAD</h1> 
  
    <div class="info-cnt">
      <p>El flujo de trabajo del diseño para publicidad ha sido fortalecido por el uso de herramientas 3D que permiten integrar la información 
        raster o vectorial de Corel, Illustrator y PhotoShop, en el diseño de soluciones para góndolas, exhibidores y puntos de compra.</p>
      <p>Realizando la totalidad del proyecto, desde su concepción hasta la fabricación e instalación, empresas como Splendor Publicidad o Sancho BBDO aprovechan 
        las fortalezas de Rhino para el desarrollo de sus productos. </p>
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/publicidad/publicidad1.jpg" alt="">
        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/publicidad/publicidad2.jpg" alt="">
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>
           
  
    </div>
  </div>