<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">DISEÑO EN ARQUITECTURA</h1> 
  
    <div class="info-cnt">
      <p>El diseño arquitectónico ha sido pionero en la implementación de sistemas CAD desde los años 80´s. El uso de nuevos materiales, 
        sistemas constructivos y morfologías vanguardista que vemos desde el año 2000, ha sido posible gracias al uso de herramientas BIM, 
        Modelado Generativo por Algoritmos y por el ejercicio interdisciplinar necesario para adelantar proyectos cada vez más complejos.</p>
      <p>Despachos de Arquitectura como Pizano & De Irisarri, Taller Paralelo, Zaha Hadid Architects o proyectos tan importantes como el de la
         Sagrada Familia, se valen de Rhino como herramienta fundamental para sus procesos de diseño y Construcción </p>
     
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/arquitectura/diseno/disarq1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/arquitectura/diseno/disarq2.jpg" alt="">        
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>  
    </div>
  </div>