<div class="top-img">
  </div>
  <div class="body-pg">
      <h1 class ="page-title">CALZADO</h1> 
  
    <div class="info-cnt">
      <p>Todos los procesos de diseño y fabricación en calzado, desde la Capellada hasta la Suela son realizados eficientemente y con transparencia 
        dentro de Rhinoceros. Partiendo de la digitalización de la Horma realizada a partir de un Escaneo Láser, un sistema de Fotogrametría o un Brazo Palpador, 
        se realiza el diseño, desarrollo y escalado de todas las partes de la capellada. Se desarrollan los herrajes y se culmina con el diseño exacto de la suela sin importar la 
        complejidad formal o si es una suela multicolor.</p>
    </div>
    <div class="img-section">
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/calzado/calzado1.jpg" alt="">        
      </div>
      <div class="img-cnt vert-align">
        <img class="img-responsive" src="http://assets.voxel3d.net/sectores/diseno-industrial/calzado/calzado2.jpg" alt="">        
      </div>
    </div>
    <div class="slider-cnt">
      <app-mini-slider [images] = 'getImagesArray()'> </app-mini-slider> 
    </div>
    
    <div class="products-cnt">
      <div class="products-title">
        <h1 class="products-title-h"><span>PRODUCTOS AFINES</span></h1>
      </div>
      <div class="product-slider-cnt">
        <app-simply-slider [id] = "id1" [slides] = "slides"></app-simply-slider>
      </div>
           
  
    </div>
  </div>